@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--blanco);
    
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--black);
    color: var(--blanco);
}